*{
    background-color: #2C6A61;
    color: white;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#input-field{
    border: .1rem solid rgb(169, 181, 2);
    width: 50vw;
    height: 3vh;
    padding: 0px 2vw;
}
button{
    margin-top: 2vw;
    margin-right: 1vw;
    border: none;
    height: 4vw;
    width: 8vw;
    border-radius: 8vw 2vw 8vw 2vw;
    font-size: 4vh;
    
}
#add-btn{
    background-color: rgb(9, 171, 119);
}
/* #delete-btn{
    background-color: rgb(3, 72, 50);
} */

#task-list{
    background-color: #367c71;
    width: 50vw;
    height: 50vh;
    list-style: none;
    margin-top: 5vw;
    padding: 10vh;
    /* display: grid; */
}
#task-list li{
    margin-top: 10px;
    font-style: italic;
    /* text-align: center; */

    
    
}
#task-list li button{
    margin-top: 2vw;
    margin-right: 1vw;
    border: none;
    height: 1vw;
    width: 2vw;
    border-radius: 2vw;
    font-size: 2vh;
    background-color: darkslategray;
    margin-left: 5vh;
}

#task-list li button:hover{
    margin-top: 2vw;
    margin-right: 1vw;
    border: none;
    height: 1vw;
    width: 2vw;
    border-radius: 2vw;
    font-size: 2vh;
    background-color: rgb(200, 0, 0);
    margin-left: 5vh;
    color: black
    ;
}